<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Affordable Luxury Homes. We sell Houses and lands.</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|" rel="stylesheet" type="text/css">
    <link href="fonts copy/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="style.css">

    <!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-221486888-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-221486888-1');
</script>

</head>


<body>

    <div id="site-content">
        <div class="site-header">
            <div class="container">
                <a href="/" id="branding">
                    <img src="images/logo.png" alt="" class="logo">
                    <div class="logo-text">
                        <h1 class="site-title">SALIS VENTILATED HOMES</h1>
                        <small class="site-description">Affordable luxury homes that you can trust</small>
                    </div>
                </a>
                <!-- #branding -->

                <!-- Default snippet for navigation -->
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item current-menu-item"><a href="/">Home</a></li>
                        <li class="menu-item"><a href="/about">About</a></li>
                        <li class="menu-item"><a href="/news">Blog</a></li>
                        <li class="menu-item"><a href="/contact">Contact</a></li>
                    </ul>
                    <!-- .menu -->
                </div>
                <!-- .main-navigation -->

                <div class="mobile-navigation"></div>
            </div>
        </div>
        <!-- .site-header -->

        <main class="main-content">

            <div class="page">
                <div class="container">
                            <img src="dummy/peacock.jpg" alt="">
                            <h3 class="entry-title"><a href="#">PEACOCK AND ITS FEATHERS AS AN EMBLEM OF THE GLORIES OF HEAVEN</a></h3>
                            <div class="date">25.01.2022</div>
                            <p>

                                There are two main species, the common (Pavo cristatus), and the Javanese (P. musticus) peacocks, both found in deep forests where they travel in small flocks. A third type, the Congo peacock, was discovered in Africa in 1936 that began 1913 with the finding of a single feather. Unusual peacocks are the Argus pheasant, with eyelike spots on its secondary flight feathers, and the white peacock thought to be an alteration of the common peafowl. When the term peafowl is used, peacock then refers to the male of a species and peahen to the female. During courtship the crested male common peacock displays his elongated upper tail coverts—a magnificent green and gold erectile train adorned with blue-green "eyes"—before the duller-plumaged peahen. The peacock is well known as an ornamental bird, though it is quarrelsome and does not mix well with other domestic animals. The peacock figures in the Bible and in Greek and Roman myth, where it appears as the favorite bird of the goddess Hera, or Juno, and the bird was known to the pharaohs of Egypt and to 14th. century Europe, where it was roasted and served in its own plumage. Peafowl fly well despite their size, and roost in trees at night. Peacocks are classified in the phylum Chordata. , subphylum Vertebrata, class Aves, order Galliformes, family Phasianidae
                                The ancient Greeks declared the peacock sacred to the goddess Hera, the queen of all the gods. The Romans later claimed the bird as an emblem of the goddess Juno, Hera's Roman counterpart. The bird also came to stand for the apotheosis of the Roman empress after her death, that is, her transformation into an immortal goddess. (The emperor's apotheosis was symbolized by an eagle). When an empress died a peacock was released from the bonfire in which her body was to be burnt, symbolizing her transformation into a goddess. Peacocks can be found on Roman funeral art, an assertion that the dead rose again to eternal life.-century Europe. <br> The ancient Hebrew also used the peacock in their religious art. Although its exact meaning remains uncertain, experts suspect that the ancient Jews saw the peacock as a symbol of the afterlife.<br>Folklore dating back to ancient times asserted that the flesh of the peacock was not susceptible to decay, like that of all other animals. It was also widely believed that the bird yearly shed its gorgeous tail feathers, only to gain an even more brilliant train of feathers for the coming year. This folklore led the early Christians to adopt the peacock for their religious art. The yearly renewal of its feathers and the supposed preservation of its flesh made it a natural symbol of the Christian doctrine of the resurrection of the dead. The early Christians depicted the peacock in the Roman catacombs, the underground vaults where they buried their dead. The bird is also frequently represented in Byzantine church art.<br>This aura of sacredness clung to the peacock until the Ages. In that era knights and squires took their oaths on the king's peacock. Indeed, "By the peacock" was a common exclamation in those days. Still today, when the pope rides in his processional chair, as he does on Easter Sunday, he is flanked by two chamberlains, carrying great fans of ostrich feathers onto which have been added the tips of peacock feathers<br>Christian artists have also used the peacock and its feathers as an emblem of the glories of heaven. Sometime artists depicted angels with peacock feathers in their wings. The round "eye spots" in the bird's tail feathers have also been interpreted as the all-seeing eyes of the church.
                                

                </div>

                
            </div>
            <!-- .page -->

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="project">
                            <figure class="project-thumbnail"><img src="dummy/section-img.jpg" alt="Project 4"></figure>
                            <h3 class="project-title"><a href="#">2 BEDROOM DUPLEX</a></h3>
                            <small class="project-subtitle">AVAILABLE</small>
                            <p>JABI, ABUJA.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                     <div class="project">
                         <figure class="project-thumbnail"><img src="dummy/kings.jpg" alt="Project 1"></figure>
                         <h3 class="project-title"><a href="/project-single1"></a>22 UNITS 3 BEDROOM SEMI-DETACHED DUPLEX & 6 UNITS 5 BEDROOM TERRACE DUPLEX</h3>
                         <small class="project-subtitle">AVAILABLE</small>
                         <p>KING'S COURT, AIRPORT ROAD JABI, ABUJA.</p>
                     </div>
                 </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="project">
                            <figure class="project-thumbnail"><img src="dummy/w2.jpg" alt="Project 1"></figure>
                            <h3 class="project-title"><a href="/project-single1">10 UNITS 4 BEDROOM TERRACE DUPLEX WITH BQ</a></h3>
                            <small class="project-subtitle">AVAILABLE</small>
                            <p>APO, ABUJA.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="project">
                            <figure class="project-thumbnail"><img src="dummy/thumb-50.jpg" alt="Project 2"></figure>
                            <h3 class="project-title"><a href="/project-single2">80 UNITS FULLY DETACHED 5 BEDROOM</a></h3>
                            <small class="project-subtitle">AVAILABLE</small>
                            <p>LUGBE 4, ABUJA.</p>
                        </div>
                    </div>
                
                </div>
                </div>
                <!-- .row -->
            

        </main>
        
        <!-- .main-content -->

        <footer class="site-footer">
            <div class="container">
                <div class="pull-left">

                    <address>
                        <strong>SALIS VENTILATED HOMES</strong>
                        <p>NO 4, GASHUA CLOSE, AREA 8 GARKI, ABUJA.</p>
                    </address>

                <a href="#" class="phone">+ 234 70 81 444 860</a>
                </div>
                <!-- .pull-left -->
                <div class="pull-right">

                    <div class="social-links">

                        <a href="https://web.facebook.com/Salisventilatedhomesltd"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/tv/CWI7nGXoL3o/?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com/Salishomes"><i class="fa fa-twitter"></i></a>

                    </div>

                </div>
                <!-- .pull-right -->

                <div class="colophon">Copyright 2022 SALIS VENTILATED HOMES. Designed by <a href="http://pyeramid.digital/" title="http://pyeramid.digital/"target="_blank">pyeramid</a>. All rights reserved.</div>

            </div>
            <!-- .container -->
        </footer>
        <!-- .site-footer -->
    </div>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>

</body>

</html>
